<%- include('partials/header'); -%>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="http://localhost:1337/">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Routines</li>
  </ol>
</nav>

<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-1 fw-bold">Routines</h1>
</div>

<div style="justify-content: center; display: flex">
  <form
    style="width: 75%"
    action="/routine"
    class="form-inline d-flex justify-content-start md-form form-sm mt-0"
  >
    <input
      class="form-control routine-search-bar"
      type="text"
      placeholder="Workout name"
      name="name"
    />
    <input
      class="form-control routine-search-bar"
      type="text"
      placeholder="Workout type"
      name="type"
    />
    <input
      class="form-control routine-search-bar"
      type="text"
      placeholder="Equipment required"
      name="equipment"
    />
    <div class="routine-search-button">
      <button class="btn btn-primary">Search</button>
    </div>
  </form>
</div>

<div class="d-flex justify-content-center">
  <table class="table table-dark rounded" style="width: 75%">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Equipment required</th>
        <th scope="col">Skill level</th>
        <th scope="col">Estimated time</th>
        <th scope="col">Made by</th>
      </tr>
    </thead>
    <tbody>
      <% routines.forEach(function(routine, i){ %>
      <tr class="table-row" onclick="location.href='/routine/<%=routine.routine_id%>'">
        <th scope="row"><%=i + 1%></th>
        <td><%=routine.routine_name%></td>
        <td><%=routine.routine_type%></td>
        <td><%=routine.equipment_needed%></td>
        <td><%=routine.skill_level%></td>
        <td><%=routine.estimated_time%></td>
        <td><%=routine.made_by%></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<%- include('partials/footer'); -%>
