<%- include('partials/header'); -%>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="http://localhost:1337/">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a href="http://localhost:1337/routine">Routines</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%=routine.routine_name%>
    </li>
  </ol>
</nav>

<div class="px-4 py-2 my-5 text-center">
  <h3 class="display-3 fw-bold"><%=routine.routine_name%></h3>
  <div>
    <p style="display: inline">
      <b>Type: </b> <%=routine.routine_type%> •
      <b>Equipment: </b> <%=routine.equipment_needed%> •
      <b>Skill level: </b> <%=routine.skill_level%> •
      <b>Estimated time: </b> <%=routine.estimated_time%> •
      <b>Made by: </b> <%=routine.made_by%>
    </p>
  </div>
</div>
<ol>
  <div style="display: flex; flex-direction: column; width: 60%; margin: auto">
    <%exercises.forEach(function(exercise, i){ %>
    <div style="padding-bottom: 20px">
      <li style="font-size: x-large"><%=exercise.exercise_name%></li>
      <p style="display: inline">
        <b>Sets: </b> <%=exercise.sets%> • <% if(exercise.reps_or_time_based ===
        "Rep"){ %> <b>Repitions: </b><%=exercise.reps_or_time%> <% } else{ %>
        <b>Time: </b><%=exercise.reps_or_time%> minutes <% } %>
      </p>
      <br />
      <p style="display: inline"><b>Targeted muscle group: </b> <%=exercise.targeted_muscle_group%></p>
      <p>
        <b>Equipment needed: </b>
        <% if (exercise.exercise_equipment !== null){%>
        <%=exercise.exercise_equipment%> <% } else{ %> None <% } %>
      </p style="display: inline">
      <% if (exercise.picture_file_name !== null){%>
      <img src="/images/<%=exercise.picture_file_name%>" style="width: 75%" />
      <% } %>
    </div>

    <% }); %>
  </div>
</ol>
<%- include('partials/footer');-%>
